.wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  top: calc(100% - 280px); /*뷰포트 하단 기준 몇 px */
  left: 0;
  right: 0;

  width: 100%;
  min-width: 375px;
  max-width: 430px;
  max-height: calc(100vh - 50px);

  margin: 0 auto;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  background: #131313;
  transition: transform 150ms ease-out;
}

.bottomsheet_wrapper {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
