.category {
  display: flex;
  width: 100%;
  background-color: #131313;
  padding-left: 27px;
  margin-bottom: 24px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;
  scroll-snap-type: x mandatory;

  /* 스크롤 바 숨김 */
  &::-webkit-scrollbar {
    display: none;
  }

  li {
    list-style: none;
    min-width: 44px;
    height: 31px;
    border-radius: 50px;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20.3px;
    color: #d4d4d4;
    background-color: #272727;
    white-space: nowrap;
    flex-shrink: 0;
  }

  & .selected {
    color: #131313;
    background-color: #ff85ee;
  }
}
