.wrapper {
  height: 69px;
  display: flex;
  align-items: center;
  padding-left: 26px;

  img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    color: white;
  }
}

.filter_wrapper {
  padding-top: 9px;

  .day {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 0 14px 32px;
    background-color: #131313;
    border: none;
    cursor: pointer;

    & span {
      width: 41px;
      font-size: 16px;
      font-weight: 700;
      line-height: 21px;
      color: white;
    }
  }

  .form {
    width: 324px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 14px;
    margin: 0 auto 14px auto;

    input {
      width: inherit;
      height: 46px;
      padding-left: 16px;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 14px;
      font-weight: 500;
      line-height: 19.4px;
      background-color: #272727;
      outline: none;
    }
    input::placeholder {
      color: #636363;
      font-size: 13px;
      font-weight: 500;
      line-height: 19.4px;
    }

    button {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      border: none;
      background: url("@assets/map/search-icon.svg") no-repeat;
      cursor: pointer;
    }
  }

  #category {
    display: flex;
    width: 100%;
    background-color: #131313;
    z-index: 1;
    padding-left: 27px;
    margin-bottom: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
    scroll-snap-type: x mandatory;

    /* 스크롤 바 숨김 */
    &::-webkit-scrollbar {
      display: none;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      max-width: 56px;
      height: 31px;
      padding: 5px 10px;
      margin-right: 10px;
      list-style: none;
      cursor: pointer;
      background-color: #272727;
      border: 1px solid rgba(255, 255, 255, 0.8);
      border-radius: 50px;
    }

    & .selected {
      color: #ff85ee;
      border: 1px solid #ff85ee;
    }

    span {
      font-size: 13.5px;
      font-weight: 600;
      line-height: 20.3px;
    }
  }
}
