.wrapper {
  height: 153px;

  .day {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: black;
    border: none;
    cursor: pointer;

    & span {
      width: 41px;
      font-size: 16px;
      font-weight: 700;
      line-height: 21px;
      color: white;
    }
  }

  #category {
    display: flex;
    width: 100%;
    background-color: black;
    z-index: 1;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 44px;
      height: 31px;
      padding: 5px 10px;
      list-style: none;
      cursor: pointer;
      border: 1px solid white;
      border-radius: 50px;
    }

    & .selected {
      color: #ff85ee;
      border: 1px solid #ff85ee;
    }

    span {
      font-size: 14px;
      font-weight: 600;
      line-height: 20.3px;
    }
  }
}
