.coverImg {
  width: 100%;
  height: 325px;

  object-fit: cover;
}

.gradientImg {
  width: 100%;
  height: calc(100% - 78px);
  padding: 0px 25px;
  margin-top: -330px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 19, 0) -12.81%,
    #131313 38.88%
  );
  backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & span {
    color: rgba(255, 255, 255, 1);

    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    margin: 0 auto;
  }
}
.mainImgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainImg {
  width: 215px;
  height: 260px;

  object-fit: cover;
  border-radius: 5px;
}
.name {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 21px;

  margin-top: 20px;
}
.alarm {
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #ff85ee;
  margin-top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 0px 5px 0px #ff85ee8c;

  & > span {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
  }
}

.grayBox {
  padding: 18px 16px;
  border-radius: 5px;
  background-color: #272727;

  display: flex;
}

.iconBox {
  display: flex;
  align-items: center;
  gap: 2px;
  & > span {
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    color: #c8c8c8;
  }
  & > img {
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
  }
}

.textWhite {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;

  color: #ffffff;
}
.songs {
  font-size: 20px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
}

.songBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;

  border-bottom: 1px solid #3c3c3c;
  & > div {
    display: flex;
    gap: 8px;
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
.artistIntroTitle {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: left;
}
.artistIntroText {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;

  color: #c8c8c8;
}
.songImg {
  width: 48px;
  height: 48px;
  border-radius: 5px;
}
.songIcon {
  width: 24px;
  height: 24px;
}

.songTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
}
.songArtist {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: left;
  color: #626262;
}
