.container {
    margin-bottom: 24px;
}

.column { 
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;
}

.header {
    position: relative;
    min-width: 325px;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & span {
        color: rgba(255, 255, 255, 1);
        font-size: 24px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: -1px;

        display: flex;
        align-items: center;
    }
    & img {
        width: 20px;
        height: 20px;
    }
}

.horizon {
    background-color: rgba(70, 70, 70, 0.3);

    height: 8px;
}

.guide {
    width: 325px;
    height: 60px;
    padding: 16px 28px;

    margin-bottom: 60px;
    border-radius: 5px;
    background-color: rgba(39, 39, 39, 1);

    display: flex;
    justify-content: space-between;

    & span {
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.5px;
    }

    & div {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: rgba(255, 133, 238, 1);

        display: flex;
        justify-content: center;
        align-items: center;
    }
}