.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.header {
  width: 325px;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & span {
    color: rgba(255, 255, 255, 1);

    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    margin: 0 auto;
  }
}

.nday {
  width: 325px;
  margin-top: 50px;

  font-size: 20px;
  font-weight: 700;
  line-height: 20.99px;
  text-align: left;

  color: #ffffff;
}

.button {
  width: 325px;
  height: 45px;
  margin-top: 10px;

  border-radius: 5px;
  border: none;
  background-color: #272727;

  font-size: 12px;
  font-weight: 500;
  line-height: 20.99px;
  text-align: center;
  color: #ffffff;
}

.playground {
  width: 325px;
  margin-top: 16px;
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 700;
  line-height: 20.99px;
  text-align: left;

  color: #626262;
}

.tableCell {
  width: 325px;
  position: relative;

  border-top: 1px solid #424242;

  display: flex;
}

.tableTime {
  width: 60px;
  padding: 8px 5px;

  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: left;

  color: #626262;
}

.tableVertical {
  width: 3px;
  height: 95px;

  background-color: #424242;
}

.tableContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 5px;
}

.tableSinger {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: #ffffff;
  z-index: 4;
}

.onplay {
  position: absolute;
  background-color : rgba(255, 133, 238, 0.15);
  width: 262px;
  left: 63px;
}

.tablePlaytime {
  font-family: Noto Sans KR;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  z-index: 4;
}

.circleLine {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 3;
    left: -20px;
}
.circleLineCircle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #FF85EE;
}
.circleLineLine {
    width: 275px;
    height: 1px;
    background-color: #FF85EE;
}