@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(-60px);
  }
}

.wrap {
  position: fixed;
  width: 100%;

  top: 10px;
  left: 0px;

  display: flex;
  justify-content: center;
}

.toast {
  width: 325px;
  height: 53px;

  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  animation: fade-in 700ms, fade-out 700ms 2000ms;

  display: flex;
  justify-content: center;
  align-items: center;
  & > span {
    font-family: Noto Sans KR;
    font-size: 16px;
    font-weight: 500;
    line-height: 14.9px;
    letter-spacing: -0.5px;
    color: #ffffff;
  }
}
