@keyframes fadeIn {
    to {
        opacity: 1; /* 최종 상태 */
        transform: translateY(0px); /* 최종 상태 */
    }
}

.ballon {
    position: absolute;
    box-shadow: 2px 6px 12px 0px rgba(0, 0, 0, 0.12);
    background-color: rgba(85, 85, 85, 1);
    border-radius: 4px;
    padding: 6px 8px;
    color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    opacity: 0;
    user-select: none;
    z-index: 5;
    
    transform: translateY(-10px); /* 최종 상태 */
    letter-spacing: -0.6px;
    animation: fadeIn 0.3s ease forwards; /* 애니메이션 설정 */
    animation-delay: 1s; /* 1초 지연 */
  }
  
  .ballon::after {
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(85, 85, 85, 1);
    content: "";
    position: absolute;
    top: -15px;
    left: 90px;
  }