.wraper {
  margin: 0;
  padding: 0;
  border: none;
}
.topMargin {
  height: 17px;
  width: auto;
}
/* 로고 */
.toplogo {
  width: 114px;
  height: 35.81px;
  display: flex;
  margin-left: 23px;
  margin-right: auto;
  margin-bottom: 23px;
}
/* 이벤트 */
.eventSlide {
  transition: transform 0.1s ease, opacity 0.1s ease;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
}

.inactiveSlide {
  transform: scale(0.9);
  opacity: 1;
}

.eventSlideContainer {
  /* border: 1px dotted white; */
  border: none;
}
.eventBox {
  height: 374px;
  width: 324px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  /* 아래 3가지는 div태그에서 바로 적용 */
  /* background: `linear-gradient(180deg, rgba(0, 0, 0, 0.1) 39%, rgba(0, 0, 0, 0.8) 100%), url(${imgURL})`, */
  /* background-size: cover; */
  /* background-position: center; */
}
.eventHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
/* .eventLiveLogo {
  background: #ff2929;
  color: #ffffff;
  border-radius: 37.8px;
  padding: 7.56px;
  font-family: Noto Sans KR;
  font-size: 18.15px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  margin-left: 22px;
  margin-right: auto;
} */
.eventIndex {
  font-family: Noto Sans KR;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  border-radius: 39px;
  padding: 3px 8px;
  background: #0000004f;
  margin-right: 21px;
  margin-left: auto;
}
.eventTitleBox {
  /* background-color: gray; */
  margin-bottom: 38px;
  margin-left: 24px;
  margin-top: auto;
  margin-right: auto;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: start;
}
.eventMainTitle {
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #ffffff;
}
.eventSubTitle {
  font-family: Noto Sans KR;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.99px;
  letter-spacing: -1px;
  text-align: left;
  color: #ffffffbf;
}

/* 프로그램 */
.programContainer {
  margin-top: 36px;
  margin-left: 26px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.programEntireTitle {
  font-family: Noto Sans KR;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #ffffff;
}
.programSlideContainer {
  margin-left: -174px;
  /* border: 1px dashed white; */
}
.programBox {
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.programImg {
  width: 199px;
  height: 122px;
  border-radius: 5px;
  background-color: aqua;
  background-size: cover;
  background-position: center;
}
.programName {
  font-family: Noto Sans KR;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -1px;
  text-align: left;
  color: #e2e2e2;
}

/* 공지사항 */
.noticeContainer {
  margin-top: 52px;
  margin-left: 26px;
  margin-right: 26px;
  display: flex;
  flex-direction: column;
}
.noticeHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.noticeEntireTitle {
  display: flex;
  font-family: Noto Sans KR;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-align: left;
  color: #ffffff;
}
.noticeMore {
  border: none;
  background-color: transparent;
  display: flex;
  font-family: Noto Sans KR;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: left;
  color: #878787;
  margin-left: auto;
}
.rightVector {
  padding-left: 5.5px;
  padding-right: 5.5px;
}
.noticeBoxContainer {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.noticeBox {
  background: #272727;
  width: 100%;
  height: 69px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-content: start;
  padding: 10px 15px 9px 15px;
}
.noticeTitle {
  font-family: Noto Sans KR;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -1px;
  text-align: left;
  color: #e2e2e2;
}
.noticeContent {
  font-family: Noto Sans KR;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -1px;
  text-align: left;
  color: #ababab;
}

/* 문의사항 */
.contactContainer {
  margin-top: 47px;
  padding-left: 26px;
  padding-right: 26px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.contactEntireTitle {
  font-family: Noto Sans KR;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #ffffff;
}
.contactBoxContainer {
  margin-top: 20px;
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactBox {
  background: #272727;
  border-radius: 5px;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contactPhraseBox {
  margin-left: 21px;
}
.contactPhrase1 {
  font-family: Noto Sans KR;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  text-align: left;
}
.contactPhrase2 {
  font-family: Noto Sans KR;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.01em;
  text-align: left;
}
.contactIcon {
  width: 56px;
  height: 56px;
  background: transparent;
  margin-right: 18px;
  margin-left: auto;
}
.contactIcon img {
  width: 56px;
  height: 56px;
  margin-right: 18px;
  margin-left: auto;
}

/* 저작권, 판권 */
.rightsContainer {
  margin-top: 48px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
}
.rights1 {
  white-space: break-spaces;
  font-family: Noto Sans KR;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #ffffff80;
}
.rights2 {
  font-family: Noto Sans KR;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #ffffff80;
}

.moreInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  color: #898989;
  font-size: 10px;
  font-weight: 700;
}

.introDev {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff80;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.01em;
  margin: 20px;
  cursor: pointer;
}

.introDevIcon1 {
  width: 25px;
  height: auto;
  margin-right: 10px;
}

.introDevIcon2 {
  width: 20px;
  height: auto;
  margin-right: 10px;
}
