.splashContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    min-width: 375px;
    max-width: 430px;
    overflow: hidden;
    background-color: #131313;
    margin: 0 auto; 
    overflow: hidden; 
}

.splashImage{
    width: 240px;
    height: auto;
    animation: shake 1s ease-in-out infinite;
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px) translateY(10px); }
    50% { transform: translateX(10px) translateY(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}