.splashContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    min-width: 375px;
    max-width: 430px;
    overflow: hidden;
    background-color: #131313;
    margin: 0 auto; 
    overflow: hidden; 
}

.splashImage{
    width: 300px;
    height: auto;
}