.container {
    width: 375px;
    height: 340px;
    padding: 10px 28px;
    overflow: hidden;
}
.wrap {
    display: flex;
    gap: 16px;
    transition: 1s;
}

.item {
    width: 244px;
    height: 322px;
    flex: none;
    padding: 25px 20px;
    border-radius: 5px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.itemHeader {
    display: flex;
    justify-content: space-between;
}
.itemHeaderSinger {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -1px;
}

.itemHeaderBell {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}
.itemHeaderBellActive {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255, 133, 238, 1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.itemFooter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itemFooterPlaytime {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 2px 14px;
    border-radius: 40px;

    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -1px;

    color: #ffffff;
}

.itemFooterTimePlace {
    display: flex;
    flex-direction: column;
    gap: 1px;
    div {
        display: flex;
        gap: 4px;
    }
    span {
        color: rgba(203, 203, 203, 1);

        font-size: 12px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: -1px;
    }
}