@-webkit-keyframes skeleton-gradient {
  0% {
      background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
      background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
      background-color: rgba(165, 165, 165, 0.1);
  }
}

@keyframes skeleton-gradient {
  0% {
      background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
      background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
      background-color: rgba(165, 165, 165, 0.1);
  }
}
.skeleton {
  width: 244px !important;
  height: 322px !important;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-animation: skeleton-gradient 1.8s infinite ease-in-out;
  animation: skeleton-gradient 1.8s infinite ease-in-out;
}
.container {
  width: 375px;
  margin-left: -45px;
}

.card {
  width: 244px !important;
  height: 322px !important;
  margin-bottom: 20px;
  border-radius: 5px;
}

.cardImg {
  width: 100%;
  height: 100%;
  border-radius: 5px;

  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardNameBellBox {
  display: flex;
  justify-content: space-between;
}

.cardName {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -1px;
  text-align: left;

  color: #ffffff;
}
.cardBell {
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;

  & > img {
    width: 20px;
    height: 20px;
  }
}

.cardBottomBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardPlaytime {
  height: 25px;
  padding: 2px 14px;

  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 40px;

  font-family: noto sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 20.99px;
  letter-spacing: -1px;
  text-align: left;
  color: #ffffff;
}

.cardTimeLocate {
  display: flex;
  flex-direction: column;

  & > div {
    display: flex;
    gap: 2px;
  }
  & span {
    font-size: 12px;
    font-weight: 500;
    line-height: 20.99px;
    letter-spacing: -1px;
    text-align: left;
    color: #cbcbcb;
  }
}
