@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root {
  font-family: "Noto Sans KR", sans-serif;
  color-scheme: light dark;
  background-color: white;
  /* background-color: #131313; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
