.container {
    background-color: #131313;
    overflow: hidden;
    max-width: 375px;
  }

.barDetail-image {
    top: 0; 
    z-index: 10;
    height: 80vh;
    margin: 0;
    background-color: #131313;
}

.barMainImage{
    width: 100%;
    height: auto;
}

.goBack{
    position: absolute;
    top: 6vw;
    left: 3vw;
    width: 3vw;
    height: auto;
    cursor: pointer;

}

.barDetail{
    font-weight: 600;
    max-height: 75vh;
    overflow-y: auto;
}


.barDetail-title{
    padding : 2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
    gap: 1vw;

    font-size: 1.5vw; 
}

.barDetail-storeName{
    font-size: 3vw;
    font-weight: bold;
    color: white;
}

.barDetail-storeRepre{
    font-size: 1.8vw;
    font-weight: bold;
    color: #ABABAB;
}

.MoveToMap {
    width: 20vw;
    height: auto;
    margin-top: 1.8vw;
    margin-bottom: 1.8vw;
    cursor: pointer;
}


.detailLine{    
    height: 1vw; 
    background-color: #333333; 
}

.barDetail-menu{
    padding : 4vw;
    font-size: 2vw; 
}

.barDetail-menu h3{
    margin-bottom: 4vw;
}

ul{
    list-style: none;
}
