.container {
    background-color: #131313;
    min-width: 325px;
    min-height: 340px;
    overflow-y: auto;
    margin-top: 0vw; 
  }

.barDetail-image {
    top: 0; 
    z-index: 10;
    overflow: auto;
    margin: 0;
    background-color: #131313;
}

.barDetail-image::-webkit-scrollbar {
    display: none; 
}

.barMainImage{
    width: 100%;
    height: auto;
}

.goBack{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 35px;
    height: auto;
    cursor: pointer;
}

.barDetail{
    font-weight: 600;
    overflow-y: auto;
}


.barDetail-title{
    padding : 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
    gap: 10px;
}

.barDetail-storeName{
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.barDetail-storeRepre{
    font-size: 18px;
    font-weight: bold;
    color: #ABABAB;
}

.MoveToMap {
    width: 180px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    cursor: pointer;
}


.detailLine{    
    height: 8px; 
    background-color: #333333; 
}

.barDetail-menu{
    padding : 25px;
}

.barDetail-menu h3{
    margin-bottom: 25px;
    font-size: 23px; 
}

.barDetail-menu ul{
    list-style: none;
}

.barDetail-menu li {
    margin-bottom: 3vw; 
    font-size: 18px; 
}

