.container {
    background-color: #131313;
    overflow: hidden;
    min-width: 325px;
    min-height: 340px;
  }

  .search-container{
    padding: 20px;
    position: sticky;
    top: 0; 
    height: 150px;
    background-color: #131313;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }


  .inputContainer{
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .inputGlass{
    position: absolute;
    width: 20px;
    height: auto;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }


  .goBack{
    position: absolute;
    top: 30px;
    left: 20px;
    width: 30px;
    height: auto;
    cursor: pointer;
  }

  .title{
    margin-top: 10px;
    margin-bottom: 5%;
    font-size: 18px; 
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    font-size: 16px; 
    background-color: #272727;
    padding:15px;
    border-radius: 10px;
    color: #636363 ; 
    outline: none; 
    border: none;
  }

  .input.active{
    color: white;
  }

  .searchResult{
    place-items: center;
    margin-top: 40px;
    width: 200px;
    height: auto;
  }

  .noResult-image{
    place-items: center;
    margin-top: 20px;
    width: 180px;
    height: auto;

  }

  .store-list {
    height: 590px;
    overflow-y: auto;
    margin-top: 0vw; 
    width: 100%;
  }
  
  .store {
    display: flex; 
    flex-direction: column;
    align-items: left;
    overflow: hidden; 
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 0.75px solid #444444;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .storeImage{
    width: 100%; 
    height: auto; 
    border-radius: 20px;
    box-shadow: inset 0 0 0 3px #000000;

    margin: 0 auto 10px;
  }

  .storeDetails{
    flex-grow: 1; 
    overflow: hidden; 
    margin-left: 10px;

  }


  .storeName{
    font-size: 17px; 
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
  }

  .storeRepresentative{
    font-size: 14px; 
    font-weight: bold;
    line-height: 2;
    margin-bottom: 5px;
    color:#ABABAB;
  }


  .descriptions{
    display: flex;
    align-items: center;
    color: #7E7E7E;
    font-size: 13px; 
    line-height: 2;
    margin: 0;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .representMenu{
    background-color: #473273; 
    color: #BDBDBD; 
    font-size: 12px; 
    border-radius: 5px; 
    padding: 0px 7px;
    display: inline-block;
    margin-right: 5px;
  }

  .storeLine{
    height: 0.1vw; 
    background-color: rgba(128, 128, 128, 0.5); 
  }

  .noResult{
    display: flex;
    padding: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    place-items: center;
  }

  .noResult-image{
    place-items: center;
    margin-top: 20px;
    width: 180px;
    height: auto;
  }

  .noResult-main{
    font-size: 17px; 
    font-weight: 600;
    line-height: 2;
    margin-top: 30px;
    color: #696969;
  }

  .noResult-serve{
    font-size: 15px; 
    font-weight: 600;
    line-height: 2;
    margin-top: 0.5vw;
    color: #696969;
  }
  
