.container {
    background-color: #131313;
    overflow: hidden;
    max-width: 375px;
  }

  .search-container{
    padding: 2.5vh;
    position: sticky;
    top: 0; 
    z-index: 10;
    height: 15vh;
    background-color: #131313;
    border-radius: 4vh;
  }

  .title{
    margin-top: 2.5vh;
    margin-bottom: 5%;
    font-size: 2vw; 
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    background-color: #272727;
    padding: 1.5vh;
    border-radius: 1.5vh;
    color: #636363 ; 
    outline: none; 
    border: none;
  }

  .input.active{
    color: white;
  }

  .store-list {
    max-height: 78vh;
    overflow-y: auto;
    margin-top: 1vw; 
    padding: 2.5vh;
    width: 100%;
  }
  
  .store {
    display: flex; 
    align-items: center; 
    overflow: hidden; 
    margin-bottom: 20px;
    padding: 10px;
  }

  .storeImage{
    width: 12vw; 
    height: 12vw; 
    border-radius: 2vw;
    margin-right: 2vw;
  }

  .storeDetails{
    flex-grow: 1; 
    overflow: hidden; 
  }


  .storeName{
    font-size: 2.3vw; 
    font-weight: bold;
    line-height: 2;
    margin: 0;
  }

  .storeRepresentative{
    font-size: 2vw; 
    font-weight: bold;
    line-height: 2;
    margin: 0;
    color:#ABABAB;
  }


  .descriptions{
    display: flex;
    align-items: center;
    color: #7E7E7E;
    font-size: 2vw; 
    line-height: 2;
    margin: 0;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .representMenu{
    background-color: #331B52; 
    color: #BDBDBD; 
    font-size: 1.7vw; 
    border-radius: 1vh; 
    padding: 0px 10px;
    display: inline-block;
    margin-right: 1vw;
  }

  .storeLine{
    height: 0.1vw; 
    background-color: rgba(128, 128, 128, 0.5); 
  
  }

  ::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.7); 
    border-radius: 10px;
  }

  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 1);
  }